<body>
  <header>
    <h1>Jobseeker Data-table</h1>
   <span class="p">There are the details of the jobseekers which are suitable for this company's profile</span>

  </header>


<div class="body">
    <div class="content">
  
      <mat-form-field appearance="fill">
        <input (keyup)="applyFilter($event.target.value)" type="text" matInput placeholder="search">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
          <!-- Id Column -->
          <ng-container matColumnDef="Fullname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FullName</th>
          
            <td mat-cell  *matCellDef="let row " >{{row.Fullname}}</td>
          
          </ng-container>

          <!-- <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          
            <td mat-cell  *matCellDef="let row " >{{row.email}}</td>
          
          </ng-container> -->

          <ng-container matColumnDef="Mobilenumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
          
            <td mat-cell  *matCellDef="let row " >{{row.Mobilenumber}}</td>
          
          </ng-container>
  
         
          <ng-container matColumnDef="Designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Role</th>
         
            <td mat-cell *matCellDef="let row">{{row.Designation}}</td>
      
          </ng-container>
  
          <ng-container matColumnDef="Expinyears">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Exp in Years
              </th>
           
              <td mat-cell *matCellDef="let row">{{row.Expinyears}}</td>
        
            </ng-container>

            <ng-container matColumnDef="Expinmonths">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Exp in Months
              </th>
           
              <td mat-cell *matCellDef="let row">{{row.Expinmonths}}</td>
        
            </ng-container>
  
            <ng-container matColumnDef="City">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Current location</th>
            
              <td mat-cell *matCellDef="let row" >{{row.City}}</td>
           
            </ng-container>

            <ng-container matColumnDef="Timestamp">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            
              <td mat-cell *matCellDef="let row" >{{row.Timestamp}}</td>
           
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
         
              <td mat-cell *matCellDef="let row">   <button mat-icon-button (click)="model(row)"> <mat-icon>description</mat-icon></button></td>
           
            </ng-container>
  
            <!-- <ng-container matColumnDef="skills">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Skills</th>
             <td mat-cell *matCellDef="let row"> 
             <mat-chip-list>
               <mat-chip  *ngFor="let user of row.skillsknown">{{user.item_text}}</mat-chip>

             </mat-chip-list>
            </td>
            </ng-container> -->



            
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
           
                <td mat-cell *matCellDef="let row">   <button mat-icon-button (click)="model(row)"> <mat-icon>description</mat-icon></button></td>
             
              </ng-container> -->
  
  
  
           
            
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="8"
          [pageSizeOptions]="[5,8,15,25]">
        </mat-paginator>
      </div>
    </div>
  </div>
  <footer> <p>&#xA9; 2019 All rights reserved</p>
    </footer>

</body>
  <router-outlet></router-outlet>