<div class="body">
    <div class="content">
  
      <mat-form-field appearance="fill">
        <input (keyup)="applyFilter($event.target.value)" type="text" matInput placeholder="search">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
          <!-- Id Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
          
            <td mat-cell  *matCellDef="let row " >{{row.name}}</td>
          
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          
            <td mat-cell  *matCellDef="let row " >{{row.email}}</td>
          
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
          
            <td mat-cell  *matCellDef="let row " >{{row.phonenumber}}</td>
          
          </ng-container>
  
         
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Role</th>
         
            <td mat-cell *matCellDef="let row">{{row.currentdesignation}}</td>
      
          </ng-container>
  
          <ng-container matColumnDef="experience">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>experience</th>
           
              <td mat-cell *matCellDef="let row">{{row.experience}}</td>
        
            </ng-container>
  
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Current location</th>
            
              <td mat-cell *matCellDef="let row" >{{row.city}}</td>
           
            </ng-container>
  
            <ng-container matColumnDef="skills">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>skills</th>
              <!-- <tag-input   [removable]='false' [disable]='true' [identifyBy]="'item_id'" [displayBy]="'item_text'" >{{row.skillsknown}} </tag-input> -->
             <td mat-cell *matCellDef="let row"> 
             <mat-chip-list>
               <mat-chip  *ngFor="let user of row.skillsknown">{{user.item_text}}</mat-chip>

             </mat-chip-list>
            </td>
            </ng-container>



            
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
           
                <td mat-cell *matCellDef="let row">   <button mat-icon-button (click)="model(row)"> <mat-icon>description</mat-icon></button></td>
             
              </ng-container> -->
  
  
  
           
            
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="8"
          [pageSizeOptions]="[5,8,15,25]">
        </mat-paginator>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>